<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Update Student</title>
<link rel="stylesheet" href="updateUser.css"/>
</head>
<body>

  <div class="form-container">
    <h2>Update Student</h2>
    <form action="/fUpdate" method="POST">
      
      <input type="hidden" name="id" value="<%=d.id%>" />

      <input type="text" name="name"  value="<%=d.name%>" required />
      <input type="email" name="email"  value="<%=d.email%>" required />
      <input type="password" name="password" value="<%=d.password%>"  required />

      <select name="role" required>
        <option value="">Select Role</option>
        <option value="librarian">Librarian</option>
        <option value="student" selected>Student</option>
        <option value="member">Member</option>
      </select>

      <button type="submit">Update Student</button>
    </form>
    <%=msg%>
  </div>

</body>
</html>
